.rights__container {
  background: no-repeat center url(../../assets/img/Flag_of_Ukraine.svg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
