@font-face {
  font-family: Mont;
  src: url(../assets/font/Mont-Regular.woff2);
}

@font-face {
  font-family: Mont;
  font-weight: 800;
  src: url(../assets/font/Mont-Bold.woff2);
}

@font-face {
  font-family: Mont;
  font-weight: 600;
  src: url(../assets/font/Mont-SemiBold.woff2);
}

@font-face {
  font-family: SFPro;
  src: url(../assets/font/SFProDisplay-Regular.woff2);
}

@font-face {
  font-family: SFPro;
  font-weight: 600;
  src: url(../assets/font/SFProDisplay-Semibold.woff2);
}
