$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc4;
$elements-color: #e2e6e9;
$hoverBg-color: #fafbfc;
$white-color: #fff;
$green-color: #27ae60;
$red-color: #eb5757;
$black-color: #000;

$mob-side-padding: 16px;
$tab-side-padding: 24px;
$desk-side-padding: 32px;

$desk-header-swiper-height: 400px;
$tab-header-swiper-height: 188px;
$lap-header-swiper-height: 400;
$mob-header-swiper-height: 320px;
