@import '../../styles/vars';
@import '../../styles/mixins';

.container1 .swiper-button-next,
.container1 .swiper-button-prev {
  transition: border-color 0.3s;
  color: $primary-color;
  width: 32px;
  height: 32px;
  border: 1px solid $icons-color;
  top: 0;
  margin: 0;
  padding: 0;
}

.container1 .swiper-button-next:after,
.container1 .swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  background: $white-color url('../../assets/img/RightArrowHover.svg') no-repeat
    center;

  &:hover {
    border-color: $primary-color;
  }
}

.swiper-button-prev {
  background: $white-color url('../../assets/img/LeftArrowHover.svg') no-repeat
    center;

  &:hover {
    border-color: $primary-color;
  }
}

.container1 .swiper-button-next,
.container1 .swiper-rtl .swiper-button-prev {
  right: 16px;

  @include onTablet {
    right: 24px;
  }

  @include onDesktop {
    right: 12px;
  }
}

.container1 .swiper-button-next.swiper-button-disabled,
.container1 .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

.container1 .swiper-slide {
  width: 212px;
  height: 439px;

  @include onTablet {
    width: 237px;
    height: 512px;
  }

  @include onDesktop {
    width: 268px;
    height: 506px;
  }

  &:last-child {
    margin-right: 60px;

    @include onTablet {
      margin-right: 45px;
    }

    @include onDesktop {
      margin-right: 23px;
    }
  }
}

.container1 .swiper-wrapper {
  margin-bottom: 64px;
  padding-top: 60px;
  padding-left: 16px;

  &::after {
    margin-right: 16px;
  }

  @include onTablet {
    padding-left: 24px;
    margin-bottom: 80px;
  }

  @include onDesktop {
    padding-left: 12px;
  }
}

.container1 .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: calc(100% - 96px);

  @include onLaptop {
    left: calc(100% - 104px);
  }

  @include onDesktop {
    left: calc(100% - 92px);
  }
}

.container1 .swiper {
  margin-top: -55px;

  @include onTablet {
    margin-top: -65px;
  }

  @include onDesktop {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.last-slide {
  @include onDesktop {
    margin: 16px;
  }
}
