@import '../../styles/vars';

.icon {
  border: 1px solid $icons-color;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: border-color 0.2s ease;

  &:hover {
    border-color: $primary-color;
  }
  
  &_active {
    border-color: $elements-color;
  }
}
