@import '../../styles/vars';
@import '../../styles/mixins';

.cartItem {
  position: relative;
  max-width: 750px;
  width: 100%;
  border: 1px solid $elements-color;
  margin-bottom: 16px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    @include onTablet {
      flex-direction: row;
      width: 100%;
      padding: 24px 27px;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: center;
    justify-content: start;

    @include onTablet {
      margin-bottom: 0px;
    }

    &_btn {
      margin-right: 26px;

      @include onTablet {
        margin-right: 31px;
      }
    }
  }

  &__image {
    object-fit: contain;
    width: 66px;
    height: 66px;
    margin-right: 16px;

    @include onTablet {
      margin-right: 31px;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: $primary-color;

    @include onTablet {
      margin-right: 24px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 256px;

    @include onTablet {
      justify-content: flex-end;
      gap: 51px;
      width: 200px;
    }

    @include onDesktop {
      width: 200px;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__button {
    height: 32px;
    width: 32px;
    border: 1px solid $icons-color;
    font-size: 14px;
    text-align: center;
    color: $primary-color;

    &:hover {
      border-color: $primary-color;
    }

    &_disabled {
      border-color: $elements-color;
      color: $icons-color;
      cursor: default;

      &:hover {
        border-color: $elements-color;
      }
    }

    &_img {
      width: 16px;
    }
  }

  &__price {
    font-size: 22px;
    line-height: 140%;
    font-weight: 800;
  }
}
