@import '../../styles/extends';

.homePage__container {
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    padding: 0 32px;
  }

  .title {
    margin: 56px 0;

    font-weight: 800;
    font-size: 48px;
  }
}
