@import '../../styles/extends';
@import '../../styles/vars';

.tablets__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 90%;
  width: 100%;
  padding-bottom: 15px;

  @include onTablet {
    height: 70vh;
  }

  @include onDesktop {
    height: 80vh;
  }

  &_img {
    height: 240px;

    @include onTablet {
      height: 100%;
    }

    @include onDesktop {
      height: 90%;
    }
  }

  &_text {
    text-align: center;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 100%;

    color: $primary-color;

    @include onTablet {
      margin-bottom: 16px;

      font-size: 32px;
      line-height: 41px;
    }

    @include onDesktop {
      margin-bottom: 28px;
    }
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 38px;
    padding: 10px;
    flex-grow: 1;

    color: $white-color;
    background-color: $primary-color;

    font-family: 'Mont', sans-serif;
    text-align: center;
    font-size: 12px;

    border: 1px solid transparent;

    @include onTablet {
      width: 125px;
      height: 40px;
      font-size: 14px;
      line-height: 21px;
    }

    @include onDesktop {
      width: 160px;
    }
  }
}
