@import '../../styles/vars';
@import '../../styles/mixins';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 40px;
  }

  &__img {
    height: 100px;
  }
}

  a {
    // text-decoration: none;
    color: $black-color;
  }



