@import '../../styles/vars';
@import '../../styles/mixins';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 25px;

  @include onTablet {
    margin-bottom: 40px;
  }

  &__link {
    position: relative;
    margin-right: 32px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    color: $primary-color;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    height: 15px;

    &:last-child {
      color: $secondary-color;
      cursor: auto;
    }

    &:not(:last-child) {
      &::after {
        content: ' ';

        position: absolute;
        margin: auto;
        top: 0;
        right: -17px;
        bottom: 0;
        width: 6px;
        height: 10px;

        color: $secondary-color;
        text-align: center;

        cursor: auto;
        background: url('../../assets/img/RightArrow.svg');
      }
    }
  }

  &__img {
    height: 14px;
    width: 14px;
  }
}
