@import './styles/reset';
@import './styles/vars';
@import './styles/fonts';
@import './styles/mixins';
@import './styles/grid';

html {
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  font-family: 'Mont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: $primary-color;
  overflow-x: hidden;

  font-size: 14px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  &__title {
    margin: 24px 16px;
    max-width: 600px;

    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;

    @include onTablet {
      margin: 32px 24px;
      font-size: 48px;
      line-height: 56px;
    }

    @include onDesktop {
      margin: 56px 32px;
      max-width: 100vw;
    }
  }

  &__subtitle {
    margin: 24px 16px;
    max-width: 600px;

    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    @include onTablet {
      margin-left: 24px;

      font-size: 32px;
      line-height: 41px;
    }

    @include onDesktop {
      margin-left: 32px;
    }
  }
}
