@import '../../styles/vars';
@import '../../styles/mixins';

.slider .swiper-button-next,
.slider .swiper-button-prev {
  display: none;
  transition: border-color 0.3s;
  color: $primary-color;
  width: 32px;
  height: 189px;
  border: 1px solid $icons-color;
  top: 0;
  margin: 0;
  padding: 0;

  @include onTablet {
    display: block;
  }

  @include onLaptop {
    height: 300px;
  }

  @include onDesktop {
    height: 400px;
  }
}

.slider .swiper-button-next:after,
.slider .swiper-button-prev:after {
  display: none;
}

.slider .swiper-button-next {
  background: $white-color url('../../assets/img/RightArrowHover.svg') no-repeat
    center;
}

.slider .swiper-button-prev {
  background: $white-color url('../../assets/img/LeftArrowHover.svg') no-repeat
    center;
}

.slider .swiper-button-next,
.slider .swiper-rtl .swiper-button-prev {
  right: 0;
}

.slider .swiper-button-next.swiper-button-disabled,
.slider .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.slider .swiper-button-prev,
.slider .swiper-rtl .swiper-button-next {
  left: 0;
}

.slider .swiper-slide {
  padding: 0;

  @include onTablet {
    padding: 0 54px;
  }

  @include onTablet {
    padding: 0 48px;
  }
}

.slider .swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  border: 0;
  background-color: $elements-color;
  border-radius: 0;
  opacity: 1;
}

.slider .swiper-pagination-bullet-active {
  background-color: $primary-color;
}

.slider .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider .swiper-wrapper {
  padding-bottom: 30px;
}
